services:
  minio:
    image: minio/minio:RELEASE.2025-11-22T19-18-31Z
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio12345
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.16.2
    environment:
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: minio
      AWS_SECRET_ACCESS_KEY: minio12345
    ports:
      - "5000:5000"
    depends_on:
      - minio
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri sqlite:////mlflow/mlflow.db
      --default-artifact-root s3://mlflow/
    volumes:
      - mlflow_data:/mlflow

  redis:
    image: redis:7.4.1
    ports:
      - "6379:6379"

  clickhouse:
    image: clickhouse/clickhouse-server:25.1
    ports:
      - "8123:8123"
      - "9002:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
    ulimits:
      nofile:
        soft: 262144
        hard: 262144

volumes:
  minio_data:
  mlflow_data:
  clickhouse_data:
