apiVersion: 1

datasources:
  - name: OpenSearch
    type: grafana-opensearch-datasource
    access: proxy
    url: https://opensearch:9200
    basicAuth: true
    basicAuthUser: admin
    basicAuthPassword: ${OPENSEARCH_PASSWORD}
    isDefault: false
    jsonData:
      tlsSkipVerify: true
